<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="UTF-8" />
	<title>ManyTexts</title>
	<link rel="stylesheet" href="w3.css" />
	<link rel="stylesheet" href="<TMPL_VAR style>" />
	<script>
	var toggle_en = true;
	var toggle_zh_tr = true;
	var toggle_zh_sm = true;
	function btnEffect( L_in, B_id ) {
            switch (L_in) {
                case 'en':
                    Ldivs = document.getElementsByClassName("manytxt-en");
                    if ( toggle_en ) {
                        toggle_en = false;
                        document.getElementById(B_id).innerHTML="English &#x2612;";
                        for (var i=0; i< Ldivs.length; i++) {
                            Ldivs[i].style.display="none";
                        }
                    } else {
                        toggle_en = true;
                       document.getElementById(B_id).innerHTML="English &#x2611;";
                        for (var i=0; i< Ldivs.length; i++) {
                            Ldivs[i].style.display="block";
                        }
                    }
                    break;
                    case 'zh-tr':
                    Ldivs = document.getElementsByClassName("manytxt-zh-tr");
                    if ( toggle_zh_tr ) {
                        toggle_zh_tr = false;
                        document.getElementById(B_id).innerHTML="简体 &#x2612;";
                        for (var i=0; i< Ldivs.length; i++) {
                            Ldivs[i].style.display="none";
                        }
                    } else {
                        toggle_zh_tr = true;
                       document.getElementById(B_id).innerHTML="简体 &#x2611;";
                        for (var i=0; i< Ldivs.length; i++) {
                            Ldivs[i].style.display="block";
                        }
                    }
                    break;
                    case 'zh-sm':
                    Ldivs = document.getElementsByClassName("manytxt-zh-sm");
                    if ( toggle_zh_sm ) {
                        toggle_zh_sm = false;
                        document.getElementById(B_id).innerHTML="繁體 &#x2612;";
                        for (var i=0; i< Ldivs.length; i++) {
                            Ldivs[i].style.display="none";
                        }
                    } else {
                        toggle_zh_sm = true;
                        document.getElementById(B_id).innerHTML="繁體 &#x2611;";
                        for (var i=0; i< Ldivs.length; i++) {
                            Ldivs[i].style.display="block";
                        }
                    }
                    break;
            }
	}
	</script>
</head>
<body>
    <TMPL_VAR navbar>
    <div class="w3-panel w3-sand w3-padding-16 w3-center">
        <a href="index.html">
            <img src="manytextslogo.png" style="align:center"/>
        </a>
    </div>
    <TMPL_LOOP texts>
    <TMPL_IF file><a href="<TMPL_VAR link>"></TMPL_IF>
        <div class="w3-panel w3-leftbar w3-sand <TMPL_VAR paratype>" >
                <div class="w3-border w3-round-xlarge manytxt-en" >
                    <p lang="en" ><TMPL_VAR eng></p>
                </div>
                <div class="w3-border w3-round-xlarge manytxt-zh-tr" >
                    <p lang="zh_tr"><TMPL_VAR zh_tr></p>
                </div>
                <div class="w3-border w3-round-xlarge manytxt-zh-sm" >
                    <p lang="zh_sm"><TMPL_VAR zh_sm></p>
                </div>
        </div>
    <TMPL_IF file></a></TMPL_IF>
    </TMPL_LOOP>
</body>
</html>
