/* first css */

.BookTitle div p , .Title div p{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

.BookAuthor div p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.SectionText div p, .SectionHeading div p {
    text-align: center;
    font-weight: bold;
    font-size: 2.3em;
}

.PassageNumber div p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.PassageAuthor div p {
    text-align: right;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8em;
}

.ExLogue div {
    margin-left: 5%;
    margin-right: 5%;
}

.ExLogue div p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}

.Invocation div p {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
}

.LibraryHeading div p {
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.LibraryText div p {
    text-align: left;
    font-size: 1em;
    margin-left:10%;
}

.CreditsText div p {
    text-align: left;
    font-size: 0.7em;
}